.left{
-fx-background-color: white;
-fx-border-color: black;
-fx-border-radius: 5;
}

.bottom{
-fx-background-color: white;
-fx-border-color: black;
-fx-border-radius: 5;
}

.battleField{
-fx-background-color: white;
}